{% extends "base.html" %} {% block title %} Login {% endblock %} {% block head
%} {% endblock %} {% block content %}

<!-- Logo and name -->
<div>
  <img src="{{ url_for('static', filename='images/keep-clean.png') }}" />
  <h1>Login</h1>
  <span>Log in to your CleanerCity account.</span>
</div>

<!-- Login form -->
<div class="container my-4 p-4 rounded border border-3 bg-light" style="max-width: 330px">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label }} {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="my-4 mx-auto">
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
    <div class="mb-3">No account? <a href="{{ url_for('auth_blueprint.register') }}">Create one!</a></div>
  </form>
</div>

{%endblock %}
