{% extends "base.html" %} {% block title %} Your Profile {% endblock %} {% block
head %} {% endblock %} {% block content %}

<!-- Logo and name -->
<div>
  <img src="{{ url_for('static', filename='images/keep-clean.png') }}" />
  <h1>Edit Profile</h1>
  <span>Update your CleanerCity account.</span>
</div>

<!-- Register form -->
<div
  class="container my-4 p-4 rounded border border-3 bg-light"
  style="max-width: 330px"
>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label }} {{ form.username(class="form-control",
      value=current_user.username) }}
    </div>
    <div class="mb-3">
      {{ form.email.label }} {{ form.email(class="form-control",
      value=current_user.email) }}
    </div>
    <div class="mt-5 mb-3 mx-auto row">
      <div class="col-6">
        <a
          class="btn btn-secondary w-100"
          href="{{ url_for('profile_blueprint.view') }}"
          role="button"
          >Cancel</a
        >
      </div>
      <div class="col-6">
        <input type="submit" class="btn btn-primary w-100" value="Submit" />
      </div>
    </div>
  </form>
</div>

{% endblock %}
