{% extends "admin/base.html" %} {% block title %} Index {% endblock %} {% block
head %} {% endblock %} {% block content %}

<div class="container">
    <p class="h3">Leaderboard</p>
  <div class="row mb-5">
    <div class="col d-flex justify-content-center">
      <ul class="list-group list-group-numbered w-100  border border-dark" style="max-width: 440px">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          style="background-color: #ffd700"
        >
          <div class="fw-bold">{{ top3[0].username }}</div>
          <span class="badge bg-primary rounded-pill" style="width: 44px"
            >{{ top3[0].points }}</span
          >
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          style="background-color: #c0c0c0"
        >
          <div class="fw-bold">{{ top3[1].username }}</div>
          <span class="badge bg-primary rounded-pill" style="width: 44px"
            >{{ top3[1].points }}</span
          >
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          style="background-color: #cd7f32"
        >
          <div class="fw-bold">{{ top3[2].username }}</div>
          <span class="badge bg-primary rounded-pill" style="width: 44px"
            >{{ top3[2].points }}</span
          >
        </li>
        {% for u in rest %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="fw-bold">{{ u.username }}</div>
          <span class="badge bg-primary rounded-pill" style="width: 44px"
            >{{ u.points }}</span
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <p class="h3">Active users (last 30 days): {{ active_num }}</p>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <ul class="list-group w-100 border border-dark" style="max-width: 440px">
        {% for u in active %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="mx-auto">
            <div class="fw-bold">{{ u.username }}</div>
            {{ u.created.strftime("%m/%d/%Y, %H:%M") }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
