./trav_saleseman_problem/api_key.txt
./trav_saleseman_problem/problem.json
./trav_saleseman_problem/result.json
./trav_saleseman_problem/final_result.json
./trav_saleseman_problem/travelling_salesman_problem.json
total_result.json

./mapbox/api_key.txt
./mapbox/result.json
./mapbox/result_without_geojson.txt