# trav_salesman_problem/api_key.txt
trav_salesman_problem/problem.json
trav_salesman_problem/result.json
trav_salesman_problem/final_result.json
trav_salesman_problem/travelling_salesman_problem.json

# mapbox/api_key.txt
mapbox/result.json
mapbox/result_without_geojson.txt

total_result.json